.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(24, 194, 216);
}

.App-link {
  color: #61dafb;
}

.input-group textarea {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.button-group {
  margin: 10px 0;
}

.recording-button {
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: red;
  border: 7px solid white; /* This creates the white ring */
  box-shadow: 0 0 0 7px red, 
              0px 10px 20px rgba(0, 0, 0, 0.3); /* This creates the outer red ring and a drop shadow */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  transition: transform 0.3s ease-in-out;
}

.recording-button.recording {
  transform: scale(0.9);
  border-color: white;
  box-shadow: 0 0 0 7px rgb(175, 77, 77), 
              0px 10px 20px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 98, 98);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
